body {
    font-family: monospace, sans-serif;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    background-image: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
}
h1 {
    text-align: center;
    font-size: 3em;
    color: #0C3B01;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #135902;
}

h3 {
    text-align: center;
    color: #0C3B01;
}

strong {
    color: #135902;
}

a {
    color: #135902;
}

img {
    display: block;
    margin: auto;
    border-radius: 0.3%;
    width: 90%;
}

#img-caption {
    text-align: center;
    margin-top: 5px;
}

#tribute-info {
    margin: 0px 120px 0px 120px;
}
li {
    padding: 5px;
}
p {
    text-align: center;
}
blockquote {
    background-color:#E1EEDE;
    padding: 30px;
}

footer {
    text-align: center;
    color: RGBA(00, 00, 00, 0.7);
}

@media screen and (max-width: 768px) {
    img {
        max-width: 100%;
        height: auto;
    }
    #tribute-info {
        margin: 0px 0px 0px 0px;
    }
}