body {
    font-family: monospace, sans-serif;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
}
h1 {
    text-align: center;
    font-size: 3em;
    color: #0C3B01;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #135902;
}

h3 {
    text-align: center;
    color: #0C3B01;
}

strong {
    color: #135902;
}

a {
    color: #135902;
}

img {
    display: block;
    margin: auto;
    border-radius: 1%;
    max-width: 100%;
}

@media (max-width: 768px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

#img-caption {
    text-align: center;
    margin-top: 5px;
}

#tribute-info {
    width: 70%;
    display: block;
    margin: auto;
}
li {
    padding: 5px;
}